
table{
    margin: auto;
    border: 2px dashed red; /*net dut */
    border-collapse: collapse;
    border-width: 3px;
    height: 70%;
    text-align: center;

    
}
td{
    padding: 30px;
    
}

tr:nth-child(1){
    text-transform: uppercase ;

}
td:nth-child(1){
    font-weight: bold;
}

tr:nth-child(1) td:not(:nth-child(4)){
    background-color: blueviolet;
}
tr:nth-child(1) td:not(:nth-child(4)):hover{
    background-color: rgb(87, 10, 160);
}


tr:nth-child(6) td:nth-child(2) , tr:nth-child(7) td:nth-child(4),tr:nth-child(3) td:nth-child(2),tr:nth-child(1) td:nth-child(4){
    background-color: yellow;
}
tr:nth-child(6) td:nth-child(2):hover , tr:nth-child(7) td:nth-child(4):hover,tr:nth-child(3) td:nth-child(2):hover,tr:nth-child(1) td:nth-child(4):hover{
    background-color: rgb(187, 187, 20);
}

tr:nth-child(8) td:nth-child(2), tr:nth-child(8) td:nth-child(3) ,tr:nth-child(2) td:nth-child(4) {
    background-color: grey;
}
tr:nth-child(8) td:nth-child(2):hover, tr:nth-child(8) td:nth-child(3):hover ,tr:nth-child(2) td:nth-child(4):hover {
    background-color: rgb(37, 35, 35);
}

h3{
    text-align: center;
    color: green;
    text-transform: uppercase;
}
tr:not(:nth-child(1)) td:nth-child(1):hover{
    background-color: violet;
}

